Appendix C - Node-RED Dashboard Flows.txt
[
    {
        "id": "10753543b64a06c8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f793555b8bed3af8",
        "type": "mqtt in",
        "z": "10753543b64a06c8",
        "name": "",
        "topic": "esp32/distance",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 260,
        "y": 220,
        "wires": [
            [
                "649803f6191088dd",
                "5af365593fbaf40e"
            ]
        ]
    },
    {
        "id": "649803f6191088dd",
        "type": "debug",
        "z": "10753543b64a06c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 497,
        "y": 209,
        "wires": []
    },
    {
        "id": "38cdcf451bf817bc",
        "type": "mqtt out",
        "z": "10753543b64a06c8",
        "name": "",
        "topic": "esp32/output",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 430,
        "y": 340,
        "wires": []
    },
    {
        "id": "34bb53183155f492",
        "type": "mqtt in",
        "z": "10753543b64a06c8",
        "name": "",
        "topic": "esp32/Sensor2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 740,
        "y": 280,
        "wires": [
            [
                "1444588e3838b496",
                "b17d9d5f7ef86f9c"
            ]
        ]
    },
    {
        "id": "1444588e3838b496",
        "type": "debug",
        "z": "10753543b64a06c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 957,
        "y": 249,
        "wires": []
    },
    {
        "id": "d71c01ab77b1fb1c",
        "type": "mqtt in",
        "z": "10753543b64a06c8",
        "name": "",
        "topic": "esp32/Sensor1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 740,
        "y": 160,
        "wires": [
            [
                "79a6be49dff037b3",
                "76724a255e04b8ea"
            ]
        ]
    },
    {
        "id": "79a6be49dff037b3",
        "type": "debug",
        "z": "10753543b64a06c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 957,
        "y": 129,
        "wires": []
    },
    {
        "id": "18cb7ca4486c4d88",
        "type": "mqtt in",
        "z": "10753543b64a06c8",
        "name": "",
        "topic": "esp32/Sensor3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 740,
        "y": 400,
        "wires": [
            [
                "8713fc50f1946f72",
                "27301811545bf837"
            ]
        ]
    },
    {
        "id": "8713fc50f1946f72",
        "type": "debug",
        "z": "10753543b64a06c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 957,
        "y": 369,
        "wires": []
    },
    {
        "id": "579d1c77fb105024",
        "type": "mqtt in",
        "z": "10753543b64a06c8",
        "name": "",
        "topic": "esp32/Sensor4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 740,
        "y": 500,
        "wires": [
            [
                "629b84ccb5b3fdf0",
                "31792ee57d35eb9d"
            ]
        ]
    },
    {
        "id": "629b84ccb5b3fdf0",
        "type": "debug",
        "z": "10753543b64a06c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 957,
        "y": 469,
        "wires": []
    },
    {
        "id": "ed39c490f4a58dca",
        "type": "mqtt in",
        "z": "10753543b64a06c8",
        "name": "",
        "topic": "esp32/Angle_X",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1160,
        "y": 200,
        "wires": [
            [
                "edc831721d22bb8f",
                "72e46c938ff459ba"
            ]
        ]
    },
    {
        "id": "edc831721d22bb8f",
        "type": "debug",
        "z": "10753543b64a06c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1377,
        "y": 169,
        "wires": []
    },
    {
        "id": "072a323601baed53",
        "type": "mqtt in",
        "z": "10753543b64a06c8",
        "name": "",
        "topic": "esp32/Angle_Y",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1160,
        "y": 300,
        "wires": [
            [
                "3818c868714db496",
                "5026240cc6c9bb68"
            ]
        ]
    },
    {
        "id": "3818c868714db496",
        "type": "debug",
        "z": "10753543b64a06c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1377,
        "y": 269,
        "wires": []
    },
    {
        "id": "8c1b6ee501f982b9",
        "type": "mqtt in",
        "z": "10753543b64a06c8",
        "name": "",
        "topic": "esp32/Angle_Z",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1160,
        "y": 400,
        "wires": [
            [
                "dbcba3cea226ee6f",
                "e5844311b90c29a9"
            ]
        ]
    },
    {
        "id": "dbcba3cea226ee6f",
        "type": "debug",
        "z": "10753543b64a06c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1377,
        "y": 369,
        "wires": []
    },
    {
        "id": "72e46c938ff459ba",
        "type": "ui_gauge",
        "z": "10753543b64a06c8",
        "name": "",
        "group": "e5a2b7c7f4b6534d",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "compass",
        "title": "Angle X",
        "label": "Degrees",
        "format": "{{value}}",
        "min": "-360",
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1380,
        "y": 220,
        "wires": []
    },
    {
        "id": "5026240cc6c9bb68",
        "type": "ui_gauge",
        "z": "10753543b64a06c8",
        "name": "",
        "group": "e5a2b7c7f4b6534d",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "compass",
        "title": "Angle Y",
        "label": "Degrees",
        "format": "{{value}}",
        "min": "-360",
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1360,
        "y": 320,
        "wires": []
    },
    {
        "id": "e5844311b90c29a9",
        "type": "ui_gauge",
        "z": "10753543b64a06c8",
        "name": "",
        "group": "e5a2b7c7f4b6534d",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "compass",
        "title": "Angle Z",
        "label": "Degrees",
        "format": "{{value}}",
        "min": "-1000",
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1360,
        "y": 420,
        "wires": []
    },
    {
        "id": "76724a255e04b8ea",
        "type": "ui_gauge",
        "z": "10753543b64a06c8",
        "name": "",
        "group": "0a5dc882b9e182a1",
        "order": 1,
        "width": 6,
        "height": 6,
        "gtype": "donut",
        "title": "S1",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "4095",
        "colors": [
            "#610000",
            "#c70505",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 950,
        "y": 180,
        "wires": []
    },
    {
        "id": "f9444667b4e94939",
        "type": "mqtt in",
        "z": "10753543b64a06c8",
        "name": "",
        "topic": "esp32/Temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 230,
        "y": 440,
        "wires": [
            [
                "60ae9370edaee74e",
                "57b8a4479dec04ae"
            ]
        ]
    },
    {
        "id": "60ae9370edaee74e",
        "type": "debug",
        "z": "10753543b64a06c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 497,
        "y": 409,
        "wires": []
    },
    {
        "id": "5af365593fbaf40e",
        "type": "ui_gauge",
        "z": "10753543b64a06c8",
        "name": "",
        "group": "73842d0d613a987f",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Distance",
        "label": "Cm",
        "format": "{{value}}",
        "min": 0,
        "max": "1003",
        "colors": [
            "#b30000",
            "#dc0404",
            "#ff2424"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 500,
        "y": 260,
        "wires": []
    },
    {
        "id": "6aa6dfbc00f82cf4",
        "type": "ui_switch",
        "z": "10753543b64a06c8",
        "name": "",
        "label": "Output",
        "tooltip": "",
        "group": "304975dde136a4e2",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 249,
        "y": 340,
        "wires": [
            [
                "38cdcf451bf817bc"
            ]
        ]
    },
    {
        "id": "57b8a4479dec04ae",
        "type": "ui_gauge",
        "z": "10753543b64a06c8",
        "name": "",
        "group": "27f116d1a17f96e9",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Temperature",
        "label": "Deg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 510,
        "y": 480,
        "wires": []
    },
    {
        "id": "b17d9d5f7ef86f9c",
        "type": "ui_gauge",
        "z": "10753543b64a06c8",
        "name": "",
        "group": "0a5dc882b9e182a1",
        "order": 2,
        "width": 6,
        "height": 6,
        "gtype": "donut",
        "title": "S2",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "4095",
        "colors": [
            "#610000",
            "#c70505",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 950,
        "y": 300,
        "wires": []
    },
    {
        "id": "27301811545bf837",
        "type": "ui_gauge",
        "z": "10753543b64a06c8",
        "name": "",
        "group": "0a5dc882b9e182a1",
        "order": 3,
        "width": 6,
        "height": 6,
        "gtype": "donut",
        "title": "S3",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "4095",
        "colors": [
            "#610000",
            "#c70505",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 930,
        "y": 420,
        "wires": []
    },
    {
        "id": "31792ee57d35eb9d",
        "type": "ui_gauge",
        "z": "10753543b64a06c8",
        "name": "",
        "group": "0a5dc882b9e182a1",
        "order": 4,
        "width": 6,
        "height": 6,
        "gtype": "donut",
        "title": "S4",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "4095",
        "colors": [
            "#610000",
            "#c70505",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 930,
        "y": 520,
        "wires": []
    },
    {
        "id": "1895377bb90d23ad",
        "type": "mqtt out",
        "z": "10753543b64a06c8",
        "name": "",
        "topic": "esp32/motorSpeed",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 930,
        "y": 620,
        "wires": []
    },
    {
        "id": "959024c0bc9457e0",
        "type": "ui_slider",
        "z": "10753543b64a06c8",
        "name": "",
        "label": "Motor Speed",
        "tooltip": "",
        "group": "5dfc43347923d328",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "255",
        "step": 1,
        "className": "",
        "x": 750,
        "y": 580,
        "wires": [
            [
                "1895377bb90d23ad"
            ]
        ]
    },
    {
        "id": "6cd37bce7099d40a",
        "type": "mqtt out",
        "z": "10753543b64a06c8",
        "name": "",
        "topic": "esp32/servoAngle",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 930,
        "y": 700,
        "wires": []
    },
    {
        "id": "df5a5ebec3b77995",
        "type": "ui_slider",
        "z": "10753543b64a06c8",
        "name": "",
        "label": "Servo Angle",
        "tooltip": "",
        "group": "c7edcbdc0722cd61",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "180",
        "step": 1,
        "className": "",
        "x": 750,
        "y": 660,
        "wires": [
            [
                "6cd37bce7099d40a"
            ]
        ]
    },
    {
        "id": "cfa4a055d0cb9465",
        "type": "mqtt in",
        "z": "10753543b64a06c8",
        "name": "",
        "topic": "esp32/leftEncoder",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1150,
        "y": 520,
        "wires": [
            [
                "067caf77b69f0772",
                "6d457a71d61eedaa"
            ]
        ]
    },
    {
        "id": "067caf77b69f0772",
        "type": "debug",
        "z": "10753543b64a06c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1377,
        "y": 509,
        "wires": []
    },
    {
        "id": "7a3702175b256aa9",
        "type": "mqtt in",
        "z": "10753543b64a06c8",
        "name": "",
        "topic": "esp32/rightEncoder",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1150,
        "y": 660,
        "wires": [
            [
                "d4606f16fdfc29da",
                "a64ea7ebd611db8e"
            ]
        ]
    },
    {
        "id": "d4606f16fdfc29da",
        "type": "debug",
        "z": "10753543b64a06c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1397,
        "y": 649,
        "wires": []
    },
    {
        "id": "a64ea7ebd611db8e",
        "type": "ui_text",
        "z": "10753543b64a06c8",
        "group": "ecc4141ebd7bf17d",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Right Encoder Count",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1380,
        "y": 700,
        "wires": []
    },
    {
        "id": "6d457a71d61eedaa",
        "type": "ui_text",
        "z": "10753543b64a06c8",
        "group": "ecc4141ebd7bf17d",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Left Encoder Count",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1370,
        "y": 580,
        "wires": []
    },
    {
        "id": "bdb34112dba435f5",
        "type": "mqtt in",
        "z": "10753543b64a06c8",
        "name": "",
        "topic": "esp32/W_Avg",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 250,
        "y": 680,
        "wires": [
            [
                "730d5e1fa5e01e34",
                "b0345644d8ad85ca"
            ]
        ]
    },
    {
        "id": "730d5e1fa5e01e34",
        "type": "debug",
        "z": "10753543b64a06c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 477,
        "y": 649,
        "wires": []
    },
    {
        "id": "b0345644d8ad85ca",
        "type": "ui_text",
        "z": "10753543b64a06c8",
        "group": "ffe6df418f14fba7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Weighted Average",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 470,
        "y": 700,
        "wires": []
    },
    {
        "id": "c0458c679567dc96",
        "type": "ui_text",
        "z": "10753543b64a06c8",
        "group": "d95a2d5ff1df43ad",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Haseef Bhatti",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 220,
        "y": 520,
        "wires": []
    },
    {
        "id": "03ad31cea80db3f1",
        "type": "ui_text",
        "z": "10753543b64a06c8",
        "group": "d95a2d5ff1df43ad",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sandhya Jaikumar",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 230,
        "y": 580,
        "wires": []
    },
    {
        "id": "43ebc24556334b7f",
        "type": "ui_text",
        "z": "10753543b64a06c8",
        "group": "d95a2d5ff1df43ad",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Tyler Channer",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 440,
        "y": 540,
        "wires": []
    },
    {
        "id": "75e3c12241d4cdfa",
        "type": "ui_text",
        "z": "10753543b64a06c8",
        "group": "d95a2d5ff1df43ad",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ryder Taylor",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 430,
        "y": 600,
        "wires": []
    },
    {
        "id": "feab50c17c78127b",
        "type": "mqtt out",
        "z": "10753543b64a06c8",
        "name": "",
        "topic": "esp32/Kp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 400,
        "y": 820,
        "wires": []
    },
    {
        "id": "0dba237d890cfab0",
        "type": "ui_slider",
        "z": "10753543b64a06c8",
        "name": "",
        "label": "Kp",
        "tooltip": "",
        "group": "8dd523db2fa70c7a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 230,
        "y": 780,
        "wires": [
            [
                "feab50c17c78127b"
            ]
        ]
    },
    {
        "id": "bdcf2eb42cf967f5",
        "type": "mqtt out",
        "z": "10753543b64a06c8",
        "name": "",
        "topic": "esp32/Ki",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 820,
        "y": 820,
        "wires": []
    },
    {
        "id": "1283e56271f4aab9",
        "type": "ui_slider",
        "z": "10753543b64a06c8",
        "name": "Ki",
        "label": "Ki",
        "tooltip": "",
        "group": "8dd523db2fa70c7a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 650,
        "y": 780,
        "wires": [
            [
                "bdcf2eb42cf967f5"
            ]
        ]
    },
    {
        "id": "3eedc7be89f9bc40",
        "type": "mqtt out",
        "z": "10753543b64a06c8",
        "name": "",
        "topic": "esp32/Kd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 1240,
        "y": 800,
        "wires": []
    },
    {
        "id": "70a67bfe5d7273f8",
        "type": "ui_slider",
        "z": "10753543b64a06c8",
        "name": "Kd",
        "label": "Kd",
        "tooltip": "",
        "group": "8dd523db2fa70c7a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "180",
        "step": 1,
        "className": "",
        "x": 1070,
        "y": 760,
        "wires": [
            [
                "3eedc7be89f9bc40"
            ]
        ]
    },
    {
        "id": "10e78a89.5b4fd5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e5a2b7c7f4b6534d",
        "type": "ui_group",
        "name": "MPU-6050",
        "tab": "110238683cddaaa3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0a5dc882b9e182a1",
        "type": "ui_group",
        "name": "INFRARED SENSORS",
        "tab": "110238683cddaaa3",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "73842d0d613a987f",
        "type": "ui_group",
        "name": "HC-SR04",
        "tab": "110238683cddaaa3",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "304975dde136a4e2",
        "type": "ui_group",
        "name": "NEOPIXEL-STRIP",
        "tab": "110238683cddaaa3",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "27f116d1a17f96e9",
        "type": "ui_group",
        "name": "AM2320",
        "tab": "110238683cddaaa3",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5dfc43347923d328",
        "type": "ui_group",
        "name": "Motor Control",
        "tab": "110238683cddaaa3",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c7edcbdc0722cd61",
        "type": "ui_group",
        "name": "Servo",
        "tab": "110238683cddaaa3",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ecc4141ebd7bf17d",
        "type": "ui_group",
        "name": "ENCODERS",
        "tab": "110238683cddaaa3",
        "order": 11,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ffe6df418f14fba7",
        "type": "ui_group",
        "name": "Weighted Average",
        "tab": "110238683cddaaa3",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d95a2d5ff1df43ad",
        "type": "ui_group",
        "name": "Names",
        "tab": "110238683cddaaa3",
        "order": 10,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8dd523db2fa70c7a",
        "type": "ui_group",
        "name": "PID",
        "tab": "110238683cddaaa3",
        "order": 9,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "110238683cddaaa3",
        "type": "ui_tab",
        "name": "EEEBOT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]